//-base.pug
doctype html
html
  head
    title Roshan's Dance Academy
    block scripts
    block style
  body
    nav#navbar
      img(src="/static/1.png", alt="")
      ul
        //- the #[a] is a anchor tag ing html pug equevalant.
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Services]
        li #[a(href='/contact') Contact us]

    section#introSection
        div.op1 Welcome to Roshan's Academy
        div.small.op1 Eat, Sleep, Dance, Repeat !
        p The move you make here will add up in the last, Even the one  step you take out of your confort lavel counts.
        img(src="/static/BG.jpg", alt="")

    block content
    #footer
      strong
        |  All rights reserved by Rosshan's dance Academy © 2020-2030.